<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microsoft Identity Python Web App: Error</title>
    <link rel="shortcut icon" href="/favicon.ico"></link>
    <link rel="stylesheet" type="text/css" href="/styles.css"></link>
</head>
<body>
    <header role="banner">
        <h1>Microsoft Identity Python Web App</h1>
    </header>
    <main role="main">
        <h2>Config Missing</h2>
        <p>
            Almost there. Did you forget to set up
            <a target="_blank" rel="noopener noreferrer"
                href="https://learn.microsoft.com/azure/active-directory/develop/web-app-quickstart?pivots=devlang-python#step-5-configure-the-sample-app">
                necessary environment variables</a> for your deployment?
        </p>
        <hr>
        <a href="{{ url_for('index') }}">Homepage</a>
    </main>
    <footer role="contentinfo">
        By Pablo Navarro Rueda
    </footer>
</body>
</html>