<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TFG - APP: Login</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
</head>
<body>
    <header role="banner">
        <h1>TFG - APP</h1>
    </header>
    <main role="main">
        {% if user_code %}
        <ol>
            <li>To sign in, type <b>{{ user_code }}</b> into
                <a href='{{ auth_uri }}' target="_blank" rel="noopener noreferrer">{{ auth_uri }}</a>
                to authenticate.
            </li>
            <li>And then <a href="{{ url_for('auth_response') }}">proceed</a>.</li>
        </ol>
        {% else %}
        <div class="button-container">
            <a href="{{ auth_uri }}" class="ms-login-button">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAclBMVEXz8/PzUyWBvAYFpvD/ugjz9fb19Pbz+fr39fr69vPy9frzRQB5uAAAofD/tgDz2tTh6tHzTBfzmYWw0Xx8xfH70H3R5vP16dHz4+Dn7d3zPQDzk36sz3Td6/N0wvH7znX07d4AnvDzvLHK3qur1vL43qu/SIryAAABeUlEQVR4nO3cSW7CUBBFUdKY3pi+NTaQZP9bzCQ2kfhSRmUyOHcDpaOav15PkiT9KguvPdUPLyksots3xP5hHl3qg8VxEtvxNPi5NSyn0c0fv5gVk5fYFstWuHoNjpCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkLBb4XER2+QuLKfPEO5Py+BuzQbt8KNcxVYeEju72SC6+47wMLz0kLAkSX82Cq89NQ4vSwDP1Tq26rMhjr/qTWz1JUHcXvPgqlZYz6LbpYT5W2z5uhVuZu+xERISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEnYrjN4vvT57vzTbRnduT1120Y0egZ2WhfdkoCRJ/6xv7S5GMPm5T6AAAAAASUVORK5CYII=" alt="Microsoft Logo" height="30"> Sign In with Microsoft
            </a>
        </div>
        {% endif %}
    </main>
    <footer role="contentinfo">
        By Pablo Navarro Rueda
    </footer>
</body>
</html>